*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(219, 218, 218);
}
#principal {
  width: 900px;
  margin: auto;
  position: relative;
  
 
 
}

.header {
  background: #2e1717;
  padding: 20px;
  background-attachment: fixed;
  background:  url(../imagens/ferrari.jpg) center ;
  height: 200px;

}
header h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: rgb(54, 18, 18);
  
}


.conteudo {
  background: rgb(201, 84, 84);
  height: 80px;
  padding-top: 20px;

}
nav .conteudo {
  padding-top: 20px;
 
  background-attachment: fixed;
 
 
  box-sizing: border-box;
  
}
.conteudo  a {
  font-family: fantasy;
  color: rgb(254, 254, 254);
  padding-left: 20px;
  text-decoration: none;
  
 
 
}

.conteudo_principal {
  padding: 20px;
  background: rgb(243, 242, 241);
 
 
}

.conteudo_principal h1 {
  margin-bottom: 10px;
  color: rgb(187, 0, 0);
  text-transform: lowercase;
  
}
.conteudo_principal img {
  border:  3px double;
  margin-top: 10px;
  margin-bottom: 10PX;
}

footer {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background: rgb(201, 84, 84);
  
}