/****************************************
Herança e especificidade        */

/*
*{
  border: 1px solid greenyellow;
}



body {
  color: red;
 font-family: 'Times New Roman', Times, serif;

 border: 1px solid blue;
 background: rgb(233, 226, 209);

}

div {
  background: white;
}

*/

/***********************************
especificidade 

p {
  color: rgb(255, 2, 2) !important;
}

p {
  color: aqua;
}
*/


/* seletor mais especificco tem preferencia*/
* {
  color: brown;
}


h2 { /* 3*/
  color: blue;
}

h2.verde { /* 2*/
  color: chartreuse;
}

h2#amarelo { /* 1*/
  color: yellow;
}