/*limpar formatações padroes*/

*{
  padding: 0;
  margin: 0;
}

body {
  background: #e6e6e6;
  font: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


#cabecalho {
  background:orange;
  text-align: center;
  padding: 15px;
 
  
}
.logo, .menu{
  padding: 10px;
  
 
}

#area-principal {
  background: rgb(201, 193, 193);
  width: 920px; /* largura fixa */
  margin: 0 auto; /*faz o conteudo cetralizar*/
  padding: 15px;
}

#area-postagens {
  background: rgb(227, 148, 0);
  width: 660px;
  float: left;

}

#area-lateral {
  background: rgb(216, 159, 3);
  width: 240px;
  float: right;
}
.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  

}



#rodape {
  clear: both;
  background: #ccc;
  text-align: center;
  padding: 15px;
}

p  {
 
}


/*formatação menu*/
a{
  text-decoration: none;
}
a:link, a:visited {
  padding: 8px 12px;
  color: white;
  
}
a:hover {
  color: coral;
  background: white;
  
}


#cabecalho a:link, #cabecalho a:visited {
  padding: 8px 12px;
  color: white;
  
}
#cabecalho a:hover {
  color: coral;
  background: white;
  
}



/*formatação em geral*/
h1 {
  color: #4e4e4e;
  font-size: 2.5em;
  
}

h2 {
  color: #f7b600;
}


.branco {
  color: white;
}




.menu a {
  
}